<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="jumbotron">
                <h2>Data Encryption And Decryption In Angular 12</h2>
                <form name="encryptForm" [formGroup]="encryptForm" (ngSubmit)="encryptData()">
                    <div class="form-group">
                        <label for="text">Plain text</label>
                        <input type="text" class="form-control" formControlName="encryptStr" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Encrypt</button>
                    </div>
                    <label>Output: {{encryptpassword}}</label>
                </form>
                <hr>
                <form name="decryptForm" [formGroup]="decryptForm" (ngSubmit)="decryptData()">
                    <div class="form-group">
                        <label for="text">Encrypted text</label>
                        <input type="text" class="form-control" formControlName="decryptStr"
                            value="{{encryptpassword}}" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Decrypt</button>
                    </div>
                    <label>Output: {{decryptpassword}}</label>
                </form>
            </div>
        </div>
    </div>
</div>